.main-theme {
  --gray-very-dark: #232323FF;
  --gray-dark: #2C2C2CFF;
  --gray-soft: #34383DFF;
  --gray-border: #565656FF;
  --gray: #858585FF;
  --green-dark: #434F2FFF;
  --green: #C5EF75FF;
  --blue-dark: #6C86FFFF;
  --blue: #28B6FEFF;
}
