.settingsMenu {
  &Wrapper {
    height: 100%;
    width: 14%;
    .ant-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 5px;
      height: 100%;
      width: 150px;
      background-color: inherit;
      &-item {
        transition: none !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        height: 30px;
        margin: 0;
        border-radius: 0;
        text-align: center;
        &:active {
          background-color: inherit !important;
        }
        &-selected {
          background-color: #AACE67;
        }
        &-only-child {
        }
      }
    }
  }
}
