/* LoginPage.css */

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--gray-400);
  text-align: center;
}

.error {
  color: red;
}

.form {
  height: 90px;
  width: 300px;
  border-radius: 8px;
  position: relative;
}

.logo {
  width: 150px; /* Уменьшаем размер логотипа */
  height: auto;
  margin-bottom: 30px; /* Добавляем отступ снизу, чтобы не слипался с формой */
}

.input {
  position: relative;
  display: block;
  width: 280px;
  height: 45px;
  color: white;
  border: 0;
  outline: 0;
  top: -2px;
  padding: 0 0 0 20px;
  font-weight: 700;
  background-color: var(--gray-600);

  &:first-of-type {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }

  &:last-of-type {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px var(--gray-600) inset;
    -webkit-text-fill-color: white;
  }
}

.button {
  display: block;
  position: absolute;
  width: 52px;
  height: 52px;
  background-color: var(--gray-600);
  border-radius: 50px;
  outline: 0;
  top: 19px;
  right: -24px;
  border: 4px solid var(--gray-400);
  font-size: 20px;
  text-indent: 0;
  color: #FFFFFF;

  &:hover {
    color: var(--blue-100);
    cursor: pointer;
    transition: color .2s;
  }
}

.info-banner {
  position: fixed;
  top: 20px;
  right: 20px; /* Установим уведомление справа */
  background-color: var(--blue-200);
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 14px;
  z-index: 1000; /* Чтобы плашка была поверх других элементов */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.info-banner p {
  margin: 5px 0;
}

.close-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: 10px; /* Разместим кнопку закрытия в правом верхнем углу */
  cursor: pointer;
}

.close-button:hover {
  color: var(--blue-100); /* Цвет при наведении */
}


