#logo-mini {
    max-height: 100%;
    max-width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

#lefbar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

#leftbarbtn {
    padding: 500px 5px 5px 5px;
    height: 20px;
    max-height: 30px;
    cursor: pointer;
    fill: red;
}

#leftbarbtn:hover {
    height: 30px;
}

#leftbar-footer {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#leftbarbtnfooter {
    padding: 5px;
    height: 20px;
    max-height: 30px;
    cursor: pointer;
    fill: red;
}

#leftbarbtnfooter:hover {
    height: 30px;
}

@media (max-width: 767px) {
    #lefbar {
        flex-direction: column;
    }

    #leftbar-footer {
        justify-content: center;
        align-items: center;
    }
}
