#map_header {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
    text-align: center;
    padding-left: 15px;
}

#map_header p {
    hyphens: auto;
}

#map_header div {
    margin-right: 4rem;
    margin-left: 4rem;
    border-color: #303030;
    background-color: #303030;
    border-radius: 3px;
    justify-content: center;
    text-align: center;
    display: flex;
    width: 100%;
}

#all_header {
    border-style: solid;
    border-width: 0.5px;
}

#all_header::-webkit-scrollbar {
    width: 0;
}

#map_header img {
    cursor: pointer;
    display: flex;
    height: 20px;
    padding: 5px;
    width: 40px;
}

#map_header img:hover {
    background-color: #db0606;
    border-radius: 3px;
}

#btn_add {
    display: flex;
    width: 100%;
}

#btn_add2 {
    border-radius: 4px;
    border-color: #009900;
    background-color: #009900;
    width: 100%;
    margin-bottom: 15px;

    padding-bottom: 5px;
}

@media only screen and (max-width: 600px) {
    #map_header {
        flex-direction: column;
        padding-right: 0;
        padding-left: 0;
    }

    #map_header div {
        margin-right: 0;
        margin-left: 0;
    }
}

@media only screen and (max-width: 1300px) {
    #map_header {
        flex-direction: column;
        padding-right: 0;
        padding-left: 0;
    }

    #map_header div {
        margin-right: 0;
        margin-left: 0;
    }
}
