.settingsGeneral {

  &Wrapper {
    display: flex;
    justify-content: left;
    align-items: center;
    color: #B8B8B8;
  }

  &Sidebar {
    display: flex;
    align-items: center;

    span {
      margin-right: 10px;
    }
  }
}
