.NotificationsCenter {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  &-trigger {
    //margin-bottom: 10px;
  }

  &-count {
    position: relative;
    transform: translateY(calc(50% + 5px));

    width: 20px;
    height: 20px;

    border-radius: 100%;

    background-color: var(--gray-700);
  }

  &-container {
    position: absolute;
    right: 0;
    top: 36px;
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--gray-500);

    &-header {
      padding: 8px 8px 15px;
      background-color: var(--gray-400);
      color: var(--gray-100);
    }

    &-content {
      background-color: #FFFFFF;
      height: 400px;
      overflow-y: scroll;
      overflow-x: hidden;
      color: #000;
      padding: 0.2rem;
      position: relative;

      h4 {
        margin: 0;
        text-align: center;
        padding: 2rem;
      }

      &-item {
        display: grid;
        grid-template-columns: 40px 1fr 40px;
        gap: 8px;
        padding: 8px 16px;
        background: rgba(0, 0, 0, 0.1);
        border-radius: 8px;

        &-info {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: flex-start;

          &-title {
            font-size: 0.8rem;
            font-weight: 600;
          }

          &-subtitle {
            font-size: 0.7rem;
            font-weight: 400;
          }
        }
      }
    }
  }

  &-footer {
    background: var(--gray-500);
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}