.EquipPreviewRightSide {
  background-color: #2C2C2C !important;
  color: #909090;

  p,
  .timer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0;
    font-size: 14px;
  }

  &-info {
    text-align: right;

    &_name {
      text-transform: uppercase;
      color: #ffffff;
    }

    &_img {
      width: 30%;
      height: auto;
      padding: 10px;
    }
  }

  .ant-drawer-title {
    color: #909090;
  }

  .ant-drawer-close {
    color: #6B6B6B;

    &:hover {
      color: #909090;
    }
  }
}
