.settingsEquipment {

  &Wrapper {
    display: flex;
    justify-content: left;
    align-items: center;
    color: #B8B8B8;
  }

  &Sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    span {
      margin-bottom: 10px;
    }
  }
}
.showEquipmentsCheckbox {
  margin: 10px 0 0 20px;
}
