.main-theme {
  --gray-700: #1E1E1EFF;
  --gray-600: #232323FF;
  --gray-500: #2C2C2CFF;
  --gray-400: #34383DFF;
  --gray-300: #565656FF;
  --gray-200: #616161FF;
  --gray-100: #858585FF;
  --green-200: #DE9028;
  --green-100: #2C2C2C;
  --blue-200: #6C86FFFF;
  --blue-100: #28B6FEFF;
}
