.fieldPreviewModal {

  .compact-picker {
    background-color: var(--gray-300);
    width: 300px !important;
    border: 1px solid var(--gray-100);

    input {
      color: #FFFFFF !important;
    }
  }
}
