.root {
  width: 400px;
  padding: 1px;
  background-color: #232323;
  border-width: 0.5px;
  max-height: 100vh;
  scrollbar-width: none; /* hide the scrollbar in Firefox */
  -ms-overflow-style: none; /* hide the scrollbar in Edge and IE */

  &::-webkit-scrollbar {
    width: 0.5rem; /* set the width of the scrollbar */
  }

  &::-webkit-scrollbar-track {
    background-color: #2c2c2c; /* set the color of the track */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #1e1e1e; /* set the color of the thumb */
  }
}
.addButton {
  padding: 0.5rem 0;
  width: 100%;
  background-color: #434f2f;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  color: #c5ef75;
  font-family: Helvetica,serif;
  font-size: 0.9rem;
}
