.EquipPreviewRightSide {
  background-color: var(--gray-500) !important;
  color: var(--gray-100);

  p,
  .timer-wrapper {
    display: flex;
    align-items: flex-end;
    margin: 1em 0;
    font-size: 14px;
  }

  &__info {
    word-break: break-word;
    text-align: left;

    &__name {
      width: auto;
      align-self: flex-start;
      margin-right: 10px;
      font-size: 15px;
      font-weight: 600;
      color: #FFFFFF;
    }

    &__img {
      width: 30%;
      height: auto;
      padding: 10px;
    }

    &__grid-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 10px;
      column-gap: 30px;
      align-items: flex-start;
    }
  }

  .ant-drawer-title {
    color: var(--gray-100);
  }

  .ant-drawer-close {
    color: var(--gray-200);

    &:hover {
      color: var(--gray-100);
    }
  }
}
