.settings-equipment {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #B8B8B8;

  span {
    margin-bottom: 10px;
  }

  &-list {
    margin-left: 20px;
  }
}
