#trash {
    height: 25px;
}

#trash:hover {
    height: 35px;
}

hr {
    margin: 5px;
    border-radius: 5px;
    border: none; /* Убираем границу для браузера Firefox */
    color: #505050; /* Цвет линии для остальных браузеров */
    background-color: #505050; /* Цвет линии для браузера Firefox и Opera */
    height: 2px; /* Толщина линии */
}

#canva_id {
    transform: rotate(-90deg);
}
