.modalStyle .ant-modal-content {
    background-color: #232323;
}

.modalStyle .ant-modal-close-x {
    color: #fff;
}


.modalStyle .ant-modal-header {
    background-color: #232323;
    color: #fff;
}

.modalStyle .ant-modal-title {
    color: #fff;
}

.modalStyle .ant-modal-footer {
    background-color: #232323;
}


.modalStyle .ant-select-item-option-content,
.modalStyle .ant-select-focused .ant-select-selector {
    color: #fff;
    background-color: #232323;

}


/* для 3 картинок в строке */
.modalStyle .imagesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.modalStyle .imageField {
    width: 30%;
}

/* для 2 картинок в строке */
.modalStyle .imagesList-two-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.modalStyle .imageField-two-images {
    width: 48%;
}