.simple-select {
  position: relative;
  width: 140px;
  line-height: 1.2;
  background-color: #565656;
  color: #fff;
  padding: 5px;
  cursor: pointer;
  font-size: 0.8rem;

  .simple-select-selected-option {
    position: relative;

    .arrow {
      position: absolute;
      right: 0;
      top: 50%;
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid #fff;
      transform: translateY(-50%);
    }
  }

  &.open {
    .simple-select-selected-option {
      .arrow {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  .simple-options {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: #565656;
    color: #fff;
    z-index: 10;

    .simple-option {
      padding: 4px;
      cursor: pointer;
      transition: background-color .3s;

      &:hover {
        background-color: #6B6B6B;
      }
    }
  }
}
