.MonitoringMap {
  display: block;
  width: 100%;
  height: calc(100vh - var(--header-height)); /* Учитываем высоту хедера */
  position: relative;  /* Для правильного позиционирования */
  z-index: 0; /* Убедитесь, что карта не перекрывает другие элементы */
}
