.ant-popover {
  &-inner {
    border: 1px solid var(--gray-100);
    background-color: var(--gray-500) !important;
  }

  &-arrow {
    &:before {
      background-color: var(--gray-200) !important;
    }

    &:after {
      background-color: var(--gray-200) !important;
    }
  }

  .ant-btn {
    border: 1px solid var(--gray-100);
    color: #929292;
    background-color: #565656;
    transition: background-color, color .3s;

    &:hover {
      color: #ffffff !important; //в некоторых файлах почему то перебиваются стили
      border: 1px solid var(--gray-100) !important; //и тут тоже
      background-color: var(--gray-100) !important; //и тут тоже
    }
  }
}

.ant-popconfirm-title {
  color: #929292 !important;
}

.ant-popconfirm-description {
  color: #929292 !important;
}

