.FieldPreview {

  .addButton {
    padding: 0.5rem 0;
    width: 100%;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    font-size: 0.9rem;
    background-color: var(--green-200);
    color: var(--green-100);
  }
}
