.TasksCalendar {
  background-color: var(--gray-400);
  max-height: calc(93vh - 46px);

  .rbc {
    /*Общие стили для календаря*/
    &-header { //стиль шапок всех дат
      margin-right: 0 !important;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #FFFFFF;
      background-color: var(--gray-400);
      min-height: 36px;
      border-color: var(--gray-100) !important;
    }

    &-allday-cell { //на сколько понял, это события на целый день
      border-top: 1px solid var(--gray-100);
      margin-top: 12px;
    }

    &-time-header-cell .rbc-today { //шапка даты активного дня
      color: var(--gray-400);
      background-color: var(--green-100);
    }

    &-time-slot { //любая ечейка под событие
      color: #FFFFFF;
      background-color: var(--gray-400);
      z-index: 10;
      border: none !important; //убирает полоски
    }

    &-time-slot:not(.rbc-today, .rbc-time-slot) {
      background-color: var(--gray-300);
    }

    &-day-bg { //ячейка под слот в месяце
      color: #FFFFFF;
      background-color: var(--gray-400);
      border-left: 1px solid var(--gray-100) !important;
    }

    &-off-range-bg {
      background-color: var(--gray-200);
    }

    &-date-cell { //дата у ячейки в месяце
      color: #FFFFFF
    }

    &-off-range {
      color: var(--gray-600);
    }

    /*Стили по сетке*/
    .rbc-month-view,
    .rbc-time-view {
      border: 1px solid var(--gray-100) !important;
    }

    &-time-content {
      border: 1px solid var(--gray-100) !important;
    }

    &-timeslot-group { //цвет сетки для недели
      border-color: var(--gray-100) !important;
    }

    &-month-row,
    &-time-column { //цвет сетки для недели
      border-color: var(--gray-100) !important;
    }

    /*Стили событий*/
    &-event,
    &-background-event { //само событие и его задний фон
      z-index: 100;
      padding: 0;
      border: none !important;
    }

    &-event-label { //заголовок с датой для события
      display: none;
    }

    &-events-container { //контейнер для событий
      width: 100%;
    }
  }

  /*Убираем все пространство справа, чтоб не было видно скролл*/
  .rbc-overflowing {
    margin-right: 0 !important;
  }

  .rbc-time-content {
    scrollbar-width: none; /* hide the scrollbar in Firefox */
    -ms-overflow-style: none; /* hide the scrollbar in Edge and IE */

    &::-webkit-scrollbar {
      width: 0.5rem; /* set the width of the scrollbar */
    }

    &::-webkit-scrollbar-track {
      background-color: var(--gray-500); /* set the color of the track */
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--gray-700); /* set the color of the thumb */
    }
  }
}
