.wrapper {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #232325;
    display: flex;
    font-family: Helvetica, monospace;
    z-index: 2;
}
.header {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 15px;
    padding: 10px 0;
    border-bottom: 1px solid #323136;
    margin-bottom: 25px;

    &:last-child {
        font-size: 12px;
    }
}
.left {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 100vh;
    margin-right: 16px;
    p {
        color: #fff;
        font-family: Helvetica, serif;
        font-size: 0.78rem;
        margin: 5px;
    }
}
.addButton {
    padding: 0.5rem 0;
    background-color: #434f2f;
    cursor: pointer;
    border-radius: 3px;
    color: #c5ef75;
    font-size: 0.9rem;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
}
.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 10px;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
}
